<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>My Xello Custom ToolTip</h1>
</div>

<div style="text-align:center">
 <p>
  <button  header="A Tooltip"   Xellotooltip content="Content Button  A" showOnClick="true"> Button A</button>
  </p>

 <p><button  header="B Tooltip"  Xellotooltip content="Content Button B" showOnClick="true"> Button B</button>
 </p>
 
 <p><button  header="C Tooltip"  Xellotooltip content="Content Button C" showOnClick="true"> Button C</button>
 </p>
  </div>
 

